@model UpdateGuestDto
@{
    ViewData["Title"] = "UpdateGuest";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<form method="post">
    <input type="hidden" asp-for="GuestID"/>
    <input type="text" asp-for="Name" class="form-control mb-2" placeholder="Adı"/>
    <input type="text" asp-for="Surname" class="form-control mb-2" placeholder="Soyadı"/>
    <input type="text" asp-for="City" class="form-control mb-2" placeholder="Şehir"/>

    <button class="btn btn-primary btn-rounded">Güncelle</button>
</form>


