@model List<BookingApiLocationSearchViewModel>
@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br /> <br />
     @using(Html.BeginForm("Index","SearchLocationID",FormMethod.Post))
     {
         <label>Şehir Adını Giriniz</label>
         <input type="text" class="form-control" name="cityName"/>
             <br />
             <button class="btn btn-primary">Ara</button>
     }
     <table class="table table-bordered">
              <tbody>
            @foreach (var item in Model)
            {
                                        <tr>
                                                     <th>Lokasyon</th>
                                                     <td>@item.dest_id</td>
                                        </tr>                                               
            }
               </tbody>
     </table>
      <br />
      <a href="/BookingByCity/Index" class="btn btn-dark">Otel Rezervasyon Bilgisi</a>
</div>